@import "../../../styles/mixins";
@import "../../../styles/variables";

.app-benefits {
  background-color: $benefits-bg;
  position: relative;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 100px 280px;
    position: relative;
  }

  &__title {
    @include typography(600, 48px, 64px);
    align-self: center;
    max-width: 660px;
    text-align: center;
    margin-bottom: 155px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 460px;
    position: relative;
    z-index: 20;
  }

  &__list-item {
    @include typography(400, 24px, 38px);
    color: $text-grey;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $text-grey;
      position: absolute;
      top: 16px;
      left: -20px;
    }
  }

  &__bg-image {
    &_desktop {
      position: absolute;
      top: 0;
      right: -400px;
    }

    &_tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .app-benefits {
    &__content {
      padding: 0 0 60px 0;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__title {
      @include typography(600, 30px, 36px);
      position: absolute;
      top: 35px;
      margin-bottom: 0;
      padding: 0 10px;
    }

    &__list {
      padding: 0 20px;
    }

    &__list-item {
      @include typography(400, 16px, 26px);

      &::before {
        top: 10px;
      }
    }

    &__bg-image {
      position: relative;

      &_desktop {
        display: none;
      }

      &_tablet {
        display: block;
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &_mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .app-benefits {
    &__content {
      padding: 0 0 50px 0;
    }

    &__title {
      @include title-large(400);
    }

    &__list {
      padding: 0 30px;
    }

    &__bg-image {
      position: relative;

      &_desktop {
        display: none;
      }

      &_tablet {
        display: none;
      }

      &_mobile {
        display: block;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
