@import "../../../styles/variables";
@import "../../../styles/mixins";

.membership {
  background-color: $insights-bg;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include typography(500, 32px, 44px);
    margin-bottom: 70px;
  }

  &__plan-comparison {
    margin-bottom: 120px;
  }

  &__bg-image {
    position: relative;
    padding-bottom: 54.5%;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plan-comparison {
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 880px;
  width: 100%;

  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: $benefits-bg;
  }

  &__thead {
    th {
      padding: 16px 24px;
      background-color: #313356;
      @include typography(400, 24px, 34px);

      &:first-child {
        text-align: left;
      }
    }
  }

  &__tbody {
    td {
      padding: 16px 24px;
      text-align: center;
      border-top: 1px solid #333;
      border-left: 1px solid #333;
      @include typography(400, 24px, 34px);
      letter-spacing: 0.4px;
      color: $text-grey;

      &:first-child {
        text-align: left;
      }
    }
  }
}

.join-us-membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__title {
    @include typography(600, 45px, 64px);
    margin-bottom: 30px;
  }

  &__description {
    @include typography(400, 24px, 20px);
    margin-bottom: 50px;
  }

  &__buttons {
    display: flex;
    gap: 22px;
  }
}

@media (max-width: 500px) {
  .membership {
    &__bg-image {
      padding-bottom: 96.5%;
    }
  }
}

@media (max-width: 768px) {
  .membership {
    &__content {
      padding: 70px 8px 50px;
    }

    &__title {
      text-align: center;
      @include title-large("regular");
      margin-bottom: 50px;
    }

    &__plan-comparison {
      margin-bottom: 100px;
    }
  }

  .plan-comparison {
    &__thead {
      th {
        padding: 10px 8px;
        @include body-text(12, "regular");
      }
    }

    &__tbody {
      td {
        padding: 10px 8px;
        @include body-text(12, "regular");
      }
    }
  }

  .join-us-membership {
    &__title {
      @include title-large("regular");
      margin-bottom: 20px;
    }

    &__description {
      @include typography(400, 16px, 26px);
      margin-bottom: 40px;
    }

    &__buttons {
      flex-direction: column;
    }
  }
}

@media (min-width: 1600px) {
  .footer {
    &__bg-image {
      padding-bottom: 40.5%;
    }
  }
}
