---
import NavigationHeader from '../components/NavigationHeader/NavigationHeader';
import Footer from '../layouts/Footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import NavigationMenu from '../layouts/NavigationMenu/NavigationMenu';

import './terms-of-service.scss'
---

<Layout title="AstroVibe">
	<div class="terms-of-service-page" id="TOS">
    <div class="terms-of-service-page__container">
      <div class="terms-of-service-page__content">
        <NavigationHeader classnames='terms-of-service-page__navigation-header' />
        <NavigationMenu />
        <main class="terms-of-service-page__main-content">
          <h1 class="terms-of-service-page__title">Privacy Policy</h1>
          <p class="terms-of-service-page__date">Effective Date: April 10th, 2024</p>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Sensortronic Ltd.</h2>

            <p class="article-tos__paragraph">
              is committed to protecting your privacy. This Privacy Policy explains how your personal information is collected, used, and disclosed by AstroVibe App.
            </p>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Information Collection</h2>

            <p class="article-tos__paragraph">
              We collect information that you provide directly to us when you use our app. The types of personal information we collect include:
            </p>

            <ul class="article-tos__list">
              <li class="article-tos__list-item">
                Phone Number: Used for account registration, verification, and communication purposes.
              </li>
              <li class="article-tos__list-item">
                Name (Alias): You may choose to provide a pseudonym instead of your real name for your user profile.
              </li>
              <li class="article-tos__list-item">
                Date and Time of Birth: Used to calculate your horoscope sign.
              </li>
            </ul>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Use of Information</h2>

            <p class="article-tos__paragraph">
              We use the information we collect for several purposes, including:
            </p>

            <ul class="article-tos__list">
              <li class="article-tos__list-item">
                To create and manage your account.
              </li>
              <li class="article-tos__list-item">
                To communicate with you about our services, including verification messages and important updates.
              </li>
              <li class="article-tos__list-item">
                To enhance our app's functionality and user personalization.
              </li>
            </ul>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Sharing of Information</h2>

            <p class="article-tos__paragraph">
              We do not share your personal information with third parties except in the following cases:
            </p>

            <ul class="article-tos__list">
              <li class="article-tos__list-item">
                If required by law, such as to comply with a subpoena or similar legal process.
              </li>
              <li class="article-tos__list-item">
                When we believe in good faith that disclosure is necessary to protect our rights, your safety, or the safety of others, investigate fraud, or respond to a government request.
              </li>
            </ul>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Security</h2>

            <p class="article-tos__paragraph">
              We take reasonable measures to help protect information about you from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction.
            </p>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Your Privacy Rights</h2>

            <p class="article-tos__paragraph">
              You have the right to delete your personal information at any time by deleting your application account. This process is irreversible.
            </p>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Changes to This Policy</h2>

            <p class="article-tos__paragraph">
              We may update this Privacy Policy from time to time. If we make material changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our homepage or sending you a notification).
            </p>

          </article>

          <article class="terms-of-service-page__article article-tos">
            <h2 class="article-tos__title">Contact Us</h2>

            <p class="article-tos__paragraph">
              If you have any questions about this Privacy Policy, please contact us at <span class="article-tos__email">hello@sensortronic.net</span>.
            </p>

          </article>
        </main>
      </div>
    </div>
    <Footer />
	</div>
</Layout>
