---
import DaliyInsights from './DailyInsights/DailyInsights.astro';
import AppBenefits from './AppBenefits/AppBenefits.astro';
import MembershipOptions from './MembershipOptions/MembershipOptions.astro';

import './Main.scss'
---

<main class="page__main main" id="main">
  <DaliyInsights />
  <AppBenefits />
  <MembershipOptions />
</main>
